<?xml version="1.0"?>
<model>
    <name>coast-land-rocks-04_2K_9d63d4e8-5064-4b62-8bfa-f7d45027fcf6</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    
    <author>
        <name>AI4Forest</name>
        <email>your.email@example.com</email>
    </author>
    
    <description>
        coast-land-rocks-04_2K_9d63d4e8-5064-4b62-8bfa-f7d45027fcf6 model for Gazebo simulation
    </description>
</model>