<?xml version="1.0"?>
<model>
    <name>rock_2K_bf18f3e1-4f7c-457d-b70a-56315998a211</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    
    <author>
        <name>AI4Forest</name>
        <email>your.email@example.com</email>
    </author>
    
    <description>
        rock_2K_bf18f3e1-4f7c-457d-b70a-56315998a211 model for Gazebo simulation
    </description>
</model>