<?xml version="1.0"?>
<model>
    <name>sand-dune_2K_0a625146-f652-4724-ad1f-ff705a37da8f</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    
    <author>
        <name>AI4Forest</name>
        <email>your.email@example.com</email>
    </author>
    
    <description>
        sand-dune_2K_0a625146-f652-4724-ad1f-ff705a37da8f model for Gazebo simulation
    </description>
</model>